InspectionSchema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inspections">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="inspection" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="serialNumber" type="xs:string" />
              <xs:element name="forestManager" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="stand" type="xs:string" minOccurs="0"/>
              <xs:element name="siteId" type="xs:string" minOccurs="0" />
              <xs:element name="subSite" type="xs:string" minOccurs="0" />
              <xs:element name="bioRegion" type="xs:string" />
              <xs:element name="siteType" type="xs:string" minOccurs="0" />
              <xs:element name="date" type="xs:string" />
              <xs:element name="inspector" type="xs:string" minOccurs="0"/>
              <xs:element name="hostSpec" type="xs:string" minOccurs="0"/>
              <xs:element name="estabYear" type="xs:string" minOccurs="0"/>
              <xs:element name="treatment" type="xs:string" minOccurs="0"/>
              <xs:element name="stemsPerHa" type="xs:string" minOccurs="0"/>
              <xs:element name="diam" type="xs:string" minOccurs="0"/>
              <xs:element name="height" type="xs:string" minOccurs="0"/>
              <xs:element name="inspType" type="xs:string" minOccurs="0"/>
              <xs:element name="sampleType" type="xs:string" minOccurs="0"/>
              <xs:element name="comments" type="xs:string" minOccurs="0"/>
              <xs:element name="points">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="datum" type="xs:string" />
                    <xs:element name="projection" type="xs:string" />
                    <xs:element name="comments" type="xs:string" minOccurs="0"/>
                    <xs:element maxOccurs="unbounded" name="point">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="east" type="xs:string" />
                          <xs:element name="north" type="xs:string" />
                          <xs:element name="err" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>      
              <xs:element name="disorders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="disorder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="comments" type="xs:string" minOccurs="0"/>
                          <xs:element name="agent" type="xs:string" minOccurs="0"/>
                          <xs:element name="aspect" type="xs:string" minOccurs="0"/>
                          <xs:element name="terrain" type="xs:string" minOccurs="0"/>
                          <xs:element name="position" type="xs:string" minOccurs="0"/>
                          <xs:element name="type" type="xs:string" minOccurs="0"/>
                          <xs:element name="severity" type="xs:string" minOccurs="0" />
                          <xs:element name="severityPercent" type="xs:string" minOccurs="0" />
                          <xs:element name="extent" type="xs:string" minOccurs="0" />
                          <xs:element name="incidencePercent" type="xs:string" minOccurs="0" />
                          <xs:element name="isSampleTaken" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="identifications" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="identification">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="agent" type="xs:string" minOccurs="0" />
                                <xs:element name="family" type="xs:string" minOccurs="0" />
                                <xs:element name="type" type="xs:string" minOccurs="0"/>
                                <xs:element name="labDate" type="xs:string" minOccurs="0"/>
                                <xs:element name="dateIdentified" type="xs:string" minOccurs="0"/>
                                <xs:element name="person" type="xs:string" minOccurs="0"/>
                                <xs:element name="cultureNo" type="xs:string" minOccurs="0"/>
                                <xs:element name="retained" type="xs:string" />
                                <xs:element name="herbariumNo" type="xs:string" minOccurs="0"/>
                                <xs:element name="confidence" type="xs:string" minOccurs="0"/>
                                <xs:element name="effect" type="xs:string" minOccurs="0"/>
                                <xs:element name="comments" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
